<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>221.66647101554483</real>
					<key>controlPoint1Y</key>
					<real>112.39043712008254</real>
					<key>controlPoint2X</key>
					<real>283.33323550777237</real>
					<key>controlPoint2Y</key>
					<real>112.69521856004127</real>
					<key>dstPointX</key>
					<real>366.65043934426643</real>
					<key>dstPointY</key>
					<real>84.370243017294143</real>
					<key>srcPointX</key>
					<real>149.17422903585006</real>
					<key>srcPointY</key>
					<real>94.524798302956711</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>165.16545942319689</real>
					<key>controlPoint1Y</key>
					<real>164.81311645385586</real>
					<key>controlPoint2X</key>
					<real>184.08272971159843</real>
					<key>controlPoint2Y</key>
					<real>200.40655822692793</real>
					<key>dstPointX</key>
					<real>187.50130055064173</real>
					<key>dstPointY</key>
					<real>256.15163836202862</real>
					<key>srcPointX</key>
					<real>132.84065584969423</real>
					<key>srcPointY</key>
					<real>108.85133498828361</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<true/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>100</real>
			<key>y</key>
			<real>90</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>State_1</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>415</real>
			<key>y</key>
			<real>78</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>State_2</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>294.91032252626547</real>
					<key>controlPoint1Y</key>
					<real>182.30423137765115</real>
					<key>controlPoint2X</key>
					<real>333.45516126313277</real>
					<key>controlPoint2Y</key>
					<real>141.65211568882557</real>
					<key>dstPointX</key>
					<real>375.58593714624817</real>
					<key>dstPointY</key>
					<real>93.382877245175081</real>
					<key>srcPointX</key>
					<real>228.91726935958218</real>
					<key>srcPointY</key>
					<real>263.6078339348486</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>96</real>
					<key>controlPoint1Y</key>
					<real>227</real>
					<key>controlPoint2X</key>
					<real>53</real>
					<key>controlPoint2Y</key>
					<real>188</real>
					<key>dstPointX</key>
					<real>78.378403402358657</real>
					<key>dstPointY</key>
					<real>112.5416645379665</real>
					<key>srcPointX</key>
					<real>149.31339713622862</real>
					<key>srcPointY</key>
					<real>268.83981157400177</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>293.66651578293721</real>
					<key>controlPoint1Y</key>
					<real>272.91030306119336</real>
					<key>controlPoint2X</key>
					<real>326.83325789146858</real>
					<key>controlPoint2Y</key>
					<real>298.45515153059665</real>
					<key>dstPointX</key>
					<real>334.71241316010099</real>
					<key>dstPointY</key>
					<real>353.76667991353673</real>
					<key>srcPointX</key>
					<real>242.83932912785835</real>
					<key>srcPointY</key>
					<real>278.99742215600673</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>193</real>
			<key>y</key>
			<real>281</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Suspend</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>377.01347284732634</real>
					<key>controlPoint1Y</key>
					<real>231.1976435611729</real>
					<key>controlPoint2X</key>
					<real>387.5067364236632</real>
					<key>controlPoint2Y</key>
					<real>162.59882178058646</real>
					<key>dstPointX</key>
					<real>399.54638449014982</real>
					<key>dstPointY</key>
					<real>101.77596353291344</real>
					<key>srcPointX</key>
					<real>357.01523740948107</real>
					<key>srcPointY</key>
					<real>353.50665896803923</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>347</real>
			<key>y</key>
			<real>378</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
