<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Calculate_Distance</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>887.08203125</real>
					<key>controlPoint1Y</key>
					<real>581.44793647001154</real>
					<key>controlPoint2X</key>
					<real>759.44793647001154</real>
					<key>controlPoint2Y</key>
					<real>583.34765625</real>
					<key>dstPointX</key>
					<real>672.84832404285737</real>
					<key>dstPointY</key>
					<real>592.05419745874053</real>
					<key>srcPointX</key>
					<real>963.79617496887249</real>
					<key>srcPointY</key>
					<real>509.8631461412657</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.74851900230000001</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.72397436339999999</real>
			</dict>
			<key>editingMode</key>
			<true/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>49</real>
			<key>onExitHeight</key>
			<real>2</real>
			<key>stateSelected</key>
			<true/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1004</real>
			<key>y</key>
			<real>495</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>250.38600707924411</real>
					<key>controlPoint1Y</key>
					<real>318.48082787890269</real>
					<key>controlPoint2X</key>
					<real>256.39016833072168</real>
					<key>controlPoint2Y</key>
					<real>333.46969368186546</real>
					<key>dstPointX</key>
					<real>251.68507329450921</real>
					<key>dstPointY</key>
					<real>422.06799128221866</real>
					<key>srcPointX</key>
					<real>257.7605702803765</real>
					<key>srcPointY</key>
					<real>179.9474752985729</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>85</real>
			<key>onEntryHeight</key>
			<real>84</real>
			<key>onExitHeight</key>
			<real>84</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>261</real>
			<key>y</key>
			<real>155</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>331.62000394261264</real>
					<key>controlPoint1Y</key>
					<real>103.75256720172857</real>
					<key>controlPoint2X</key>
					<real>317.86084034864456</real>
					<key>controlPoint2Y</key>
					<real>137.46123379891412</real>
					<key>dstPointX</key>
					<real>308.77875394251947</real>
					<key>dstPointY</key>
					<real>147.63130486958204</real>
					<key>srcPointX</key>
					<real>329.9756419597137</real>
					<key>srcPointY</key>
					<real>98.850918572337065</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>25</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>25</real>
			<key>x</key>
			<real>326</real>
			<key>y</key>
			<real>87</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>PrintDistance</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>480.65098651395033</real>
					<key>controlPoint1Y</key>
					<real>569.65234375</real>
					<key>controlPoint2X</key>
					<real>354.703125</real>
					<key>controlPoint2Y</key>
					<real>588.34901348604967</real>
					<key>dstPointX</key>
					<real>278.12477427059395</real>
					<key>dstPointY</key>
					<real>466.95305725412624</real>
					<key>srcPointX</key>
					<real>573.71571772324285</real>
					<key>srcPointY</key>
					<real>589.78515953846056</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>462.07074598194288</real>
					<key>controlPoint1Y</key>
					<real>610.0078125</real>
					<key>controlPoint2X</key>
					<real>341.92925401805712</real>
					<key>controlPoint2Y</key>
					<real>605.57421875</real>
					<key>dstPointX</key>
					<real>231.17456861347893</real>
					<key>dstPointY</key>
					<real>630.47612440273133</real>
					<key>srcPointX</key>
					<real>573.24554193165557</real>
					<key>srcPointY</key>
					<real>596.47456573590966</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.83772883793070896</real>
				<key>green</key>
				<real>0.90785465187823866</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>49</real>
			<key>onExitHeight</key>
			<real>2</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>623</real>
			<key>y</key>
			<real>594</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SetupMeasure</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>866.46345652435548</real>
					<key>controlPoint1Y</key>
					<real>158.1171875</real>
					<key>controlPoint2X</key>
					<real>863.53654347564452</real>
					<key>controlPoint2Y</key>
					<real>90.890625</real>
					<key>dstPointX</key>
					<real>1005.5302960424988</real>
					<key>dstPointY</key>
					<real>115.3685956450298</real>
					<key>srcPointX</key>
					<real>749.72385876704413</real>
					<key>srcPointY</key>
					<real>125.61216506459711</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.74851900228449064</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.72397436341080668</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>99</real>
			<key>onExitHeight</key>
			<real>2</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>701</real>
			<key>y</key>
			<real>120</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Setup_Pin</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>468.54380475497896</real>
					<key>controlPoint1Y</key>
					<real>332.18624930982094</real>
					<key>controlPoint2X</key>
					<real>591.20703125</real>
					<key>controlPoint2Y</key>
					<real>250.87582514294616</real>
					<key>dstPointX</key>
					<real>668.86489436667375</real>
					<key>dstPointY</key>
					<real>139.15290438768335</real>
					<key>srcPointX</key>
					<real>292.35005465688135</real>
					<key>srcPointY</key>
					<real>435.45581692007141</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.92715610614268384</real>
				<key>red</key>
				<real>0.82390754751269824</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>9</real>
			<key>onEntryHeight</key>
			<real>96</real>
			<key>onExitHeight</key>
			<real>48</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>248</real>
			<key>y</key>
			<real>447</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Skip_Garbage</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1035.4920618477099</real>
					<key>controlPoint1Y</key>
					<real>214.02824503323302</real>
					<key>controlPoint2X</key>
					<real>659.77385050583575</real>
					<key>controlPoint2Y</key>
					<real>254.97175496676698</real>
					<key>dstPointX</key>
					<real>659.88100966523814</real>
					<key>dstPointY</key>
					<real>325.00007079359909</real>
					<key>srcPointX</key>
					<real>1044.9453913387456</real>
					<key>srcPointY</key>
					<real>143.48930809898999</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.74851900230000001</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.72397436339999999</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>33</real>
			<key>onEntryHeight</key>
			<real>32</real>
			<key>onExitHeight</key>
			<real>38</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1055</real>
			<key>y</key>
			<real>119</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Wait</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>-0.97610223510150718</real>
					<key>controlPoint1Y</key>
					<real>629.48828125</real>
					<key>controlPoint2X</key>
					<real>60.443620738045126</real>
					<key>controlPoint2Y</key>
					<real>386.97466877004979</real>
					<key>dstPointX</key>
					<real>228.29896710537915</real>
					<key>dstPointY</key>
					<real>173.91191719277111</real>
					<key>srcPointX</key>
					<real>132.02266887326314</real>
					<key>srcPointY</key>
					<real>634.24727603856081</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.77066494754885995</real>
				<key>green</key>
				<real>0.80780278825826424</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>18</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>34</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>182</real>
			<key>y</key>
			<real>635</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Wait_For_Pulse_End</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>909.59350879842623</real>
					<key>controlPoint1Y</key>
					<real>373.72475126373172</real>
					<key>controlPoint2X</key>
					<real>696.17578125</real>
					<key>controlPoint2Y</key>
					<real>458.63044925025497</real>
					<key>dstPointX</key>
					<real>646.77661892936885</real>
					<key>dstPointY</key>
					<real>572.00754451926991</real>
					<key>srcPointX</key>
					<real>1042.3022481378314</real>
					<key>srcPointY</key>
					<real>324.49874101591394</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>1158.9609375</real>
					<key>controlPoint1Y</key>
					<real>420.81567195824528</real>
					<key>controlPoint2X</key>
					<real>936.8671875</real>
					<key>controlPoint2Y</key>
					<real>390.18432804175472</real>
					<key>dstPointX</key>
					<real>977.03284512126538</real>
					<key>dstPointY</key>
					<real>473.9478471543506</real>
					<key>srcPointX</key>
					<real>1117.6656724862341</real>
					<key>srcPointY</key>
					<real>337.82432811571857</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.74851900230000001</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.72397436339999999</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>29</real>
			<key>onEntryHeight</key>
			<real>12</real>
			<key>onExitHeight</key>
			<real>12</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1090</real>
			<key>y</key>
			<real>317</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Wait_For_Pulse_Start</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>583.046875</real>
					<key>controlPoint1Y</key>
					<real>481.21650070960595</real>
					<key>controlPoint2X</key>
					<real>561.70703125</real>
					<key>controlPoint2Y</key>
					<real>486.78349929039405</real>
					<key>dstPointX</key>
					<real>598.18499713595509</real>
					<key>dstPointY</key>
					<real>572.29622364162492</real>
					<key>srcPointX</key>
					<real>634.70592640426491</real>
					<key>srcPointY</key>
					<real>371.56507501107717</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>834.95194741225123</real>
					<key>controlPoint1Y</key>
					<real>302.70703125</real>
					<key>controlPoint2X</key>
					<real>1068.703125</real>
					<key>controlPoint2Y</key>
					<real>201.04805258774866</real>
					<key>dstPointX</key>
					<real>1080.9675969006644</real>
					<key>dstPointY</key>
					<real>292.41130496421624</real>
					<key>srcPointX</key>
					<real>708.26756791924322</real>
					<key>srcPointY</key>
					<real>343.47616126883014</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.74851900230000001</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.72397436339999999</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>24</real>
			<key>onEntryHeight</key>
			<real>58</real>
			<key>onExitHeight</key>
			<real>21</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>660</real>
			<key>y</key>
			<real>350</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
