<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Exit</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>340</real>
			<key>y</key>
			<real>119</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Increment</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>190</real>
					<key>controlPoint1Y</key>
					<real>75</real>
					<key>controlPoint2X</key>
					<real>255</real>
					<key>controlPoint2Y</key>
					<real>86</real>
					<key>dstPointX</key>
					<real>297.81692561339463</real>
					<key>dstPointY</key>
					<real>105.57811269517103</real>
					<key>srcPointX</key>
					<real>124.59526816178072</real>
					<key>srcPointY</key>
					<real>104.95029487211438</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>187</real>
					<key>controlPoint1Y</key>
					<real>163</real>
					<key>controlPoint2X</key>
					<real>250</real>
					<key>controlPoint2Y</key>
					<real>157</real>
					<key>dstPointX</key>
					<real>294.10714820199286</real>
					<key>dstPointY</key>
					<real>128.92277876713669</real>
					<key>srcPointX</key>
					<real>130.89032096503831</real>
					<key>srcPointY</key>
					<real>137.38733515436533</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>90</real>
			<key>y</key>
			<real>123</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
